body {
    background-color: black;
}

header {
    display: flex;
    justify-content: center; /* Centraliza a imagem horizontalmente */
    align-items: center; /* Alinha a imagem verticalmente (opcional) */
    padding: 10px; /* Espaçamento ao redor do header (opcional) */
}

.logo {
    max-width: 150px; /* Define a largura máxima da imagem */
    height: auto; /* Mantém a proporção da imagem */
}
