html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: rgba(249, 244, 245, 0.95);
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Garante que o rodapé fique na parte inferior */
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.logo {
    width: 80px;
}

.h11 {
    font-size: 24px;
    font-family: 'Crimson Text', serif;
    text-align: center;
    color: #000000;
}

.h12 {
    font-size: 40px;
    font-family: 'Crimson Text', serif;
    color: #13743C;
}

.image-container {
    display: flex;
    gap: 30px;
}

h2 {
    font-family: 'Crimson Text', serif;
    color: #1C2C5C;

}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex: 1; /* Garante que a container ocupe o espaço disponível */
}

input[type="text"] {
    width: 340px;
    border: 3px solid #1C2C5C;
    border-radius: 12px;
    height: 60px;
}
input[type="password"] {
    width: 340px;
    border: 3px solid #1C2C5C;
    border-radius: 12px;
    height: 60px;
}

.input-container {
    position: relative;
}
.input-container img {
    position: absolute;
    right: 10px; /* Ajuste conforme necessário */
    top: 50%;
    transform: translateY(-50%);
    width: 25px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    cursor: pointer; /* Garante que o ícone não interfira na interação do campo de entrada */
}

.input-with-icon, .input-with-icon2,.input-with-icon3, .input-with-icon4{
    padding: 10px;
    width: 450px;
    border: 3px solid #1C2C5C;
    border-radius: 12px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 25px 25px;
    padding-left: 40px;
    box-sizing: border-box;
}

.entrar {
    background: linear-gradient(to right, #1C2C5C, #13743C);
    color: #FFFFFF;
    width: 280px;
    height: 50px;
    border-radius: 15px;
    border: 0px;
    margin-top: 20px;
    font-size: 20px;
}

.entrar-navbar {
    background: linear-gradient(to right, #1C2C5C, #13743C);
    color: #FFFFFF;
    width: wrap;
    height: 40px;
    border-radius: 15px;
    padding: 7px;
    border: 0px;
    font-size: 16px;
}


h4 {
    margin-bottom: 3em;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
   
}

footer img {
    width: 100%;
    margin-top: -3em;
}

h5 a{
    text-decoration: none;
    color: #1C2C5C;
}

.divisoria{
   margin-top: -0.8em;
}


/* cadastrar */

.cadastrar {
    background: linear-gradient(to right, #1C2C5C, #13743C);
    color: #FFFFFF;
    width: 280px;
    height: 50px;
    border-radius: 15px;
    margin-top: 20px;
    font-size: 20px;
}

.logo2{
    width: 60px;
}

.custom-navbar {
    background: linear-gradient( #1C2C5C, #13743C); /* Exemplo de gradiente */
    padding: 1rem; /* Ajusta o espaçamento ao redor do conteúdo */
}

.navbar-brand{
    color:#FFFFFF;
    pointer-events: none;
    margin-right: 3em;
    font-family: 'Crimson Text', serif;
}

.footercadastro{
height: 2px;
}

.input-container {
    margin-bottom: 1rem; /* Espaço entre os inputs */
}

.input-container:last-child {
    margin-bottom: 0; /* Remove o espaçamento inferior do último container, se desejado */
}

.voltar{
    background-color: #1C2C5C;
    color: #FFFFFF;
    text-decoration: none;
    width: 13em;
    border-radius: 5%;
    padding: 0.5rem;
}

/* minhas estatisticas */
.custom-navbar {
    background-color: #f8f9fa;
    padding: 5px; /* Ajuste o padding para reduzir o espaço interno do navbar */
}
.logo2 {
    height: 50px;
}
.content-container {
    margin-bottom: 550px; /* Reduz a margem superior para aproximar o conteúdo do navbar */
    text-align: center; /* Centraliza o texto horizontalmente */
}

.content-container h2 {
    margin-bottom: 1px; /* Espaço entre o título e a linha */
}
.content-container img {
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do container */
    height: auto; /* Mantém a proporção da imagem */
}

.frase {
    margin-top: 40px; /* Adiciona um espaço acima da frase */
}
